<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="col-md-6 float-left">
              <h3 class="mb-0">Danh sách</h3>
          </div>
          <div class="col-md-6 float-right">
              <button title="Thêm" class="btn btn-success float-right" (click)="create()">Thêm</button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Tên loại tiết kiệm</th>
                <th scope="col">Lãi suất</th>
                <th scope="col">Kỳ hạn</th>
                <th scope="col">Ngày hiệu lực</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of loaiTietKiems">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ item.tenLoaiTietKiem }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{ item.laiSuat }}
                </td>
                <td>
                  {{ item.kyHan }}
                </td>
                <td>
                  {{ item.ngayHieuLuc | date: 'dd/MM/yyyy' }}
                </td>
                <td style="text-align: right;">
                  <button title="Sửa" class="btn" (click)="update(item)"><i class="fas fa-pencil-alt"></i></button>
                  <button title="Xóa" class="btn" (click)="delete(item.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>